#contenedor, #busqueda, #carrusel{
    background: rgba(255, 243, 243, 0.281);
}
.subtitle{
  background: #C8E8E3;
  padding: 10px 0;
  font-family: 'New Tegomin', serif;
}
.logo{

}
.card{
  display: inline-block;
}
.status{
  margin: auto;
}
h5{
    color: rgb(10, 10, 10);
}
.w-100{
  height: 400px;
  object-fit: scale-down;
}
.carousel-caption > h5 > b{
  background: #ffff;
}
.btn{
    color:rgb(20, 20, 20);
    background:#d4cccc;
    border:0px;
    width:100%;
    height:35px;
}

#cruelty, #noticias, #productos{
    background: rgb(247, 238, 238);
}

@media  (max-width: 575px) {
  .logo{
    max-width: 15%;
    display: block;
    margin: auto;
  }
  .w-100{
    height: 200px;
  }
}
